/* imageType */

body {
    background-color: #f3f3f3;
}
.imageType{
    margin: 100px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

/* imageType01 */
.imageType01 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}

.imageType01 h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 35px;
}

.imageType01 .image-wrap {
    overflow: hidden;
}

.imageType01 .image{
    position: relative;
    float: left;
    width: 590px;
    height: 385px;
}

.imageType01 .image:first-child {
    margin-right: 20px;
}

.imageType01 .image .image-cont{
    position: absolute;
    left: 30px;
    bottom: 30px;
    color : #fff;
}

.imageType01 .image .image-title{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 4px;
}

.imageType01 .image .image-desc{
    font-size: 15px;
    font-weight: 300;
    padding-right: 30%;
    line-height: 1.4;
    word-break: keep-all;
}

.imageType01 .image .image-btn{
    font-size: 14px;
    padding: 8px 18px;
    /*background-color: #777; */
    display: inline-block;
    color : #fff;
    margin-top: 10px;
}

.imageType01 .image .image-btn.red {
    background-color: #5c5959b6;
}

.imageType01 .image .image-btn.yellow {
   /* background-color: #5c5959b6; */
}

.imageType01 .image .image-cont.s2 {
    background: #68666680;
    width: 400px;
    padding: 15px;
}

.imageType01 .image .image-cont.s2 .image-desc {
    padding-right: 0;
}

.imageType01 .image .image-cont.s2 .image-btn {
    padding: 0;
    border-bottom : 1px solid #fff;
}


/* imageType02 */
.imageType02 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}
.imageType02 h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 36px;
}
.imageType02 .image-wrap {
    display: flex;
    justify-content: space-between;
}
.imageType02 .image {
    width: 386px;
    position: relative;
    perspective: 800px;
}
.imageType02 .image::after {
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    left: 30px; top: 30px; right: 30px; bottom: 30px;
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 0.4s ease-in-out;
}
.imageType02 .image:hover::after {
    opacity: 0.9;
    transform: rotateX(0deg);
}

.imageType02 .image .image-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    opacity: 0;
    transform: translate(-50%, 50%);
    z-index: 1000;
    transition: all 0.3s ease-out;
}
.imageType02 .image:hover .image-cont {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.imageType02 .image .image-title {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}
.imageType02 .image .image-btn {
    color: #fff;
    padding: 7px 24px 5px 24px;
    background: #000;
    border-radius: 40px;
    font-weight: 300;
    margin-top: 5px;
    display: inline-block;
}

/* imageType03 */

.imageType03 h2 {
    font-family: 'NanumSquare';
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    padding: 100px 0 0 0;
}

.imageType05 h3 {
    font-family: 'NanumSquare';
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    padding: 8px 0 65px;
}

.imageType05 .image {
    margin: 0;
}

.imageType05 .imgbox {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    /* justify-content 가운대로 정렬 */
    gap: 25px;
    justify-content: center;
    padding: 0 0 100px 0;
}

.imageType05 .img01 {
    margin: 0;
}

/* //imageType03 */